:markdown
  ### CI/CD Pipelines

  CI Backend Developers are primarily tasked with improving the Continuous
  Integration (CI) and Continuous Deployment (CD) functionality in GitLab. See
  the description on the [CI team](/handbook/backend#ci) for more details. CI
  Backend Developers report to the CI Lead.
